/* font family */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
/* start variables */
:root {
  font-size: 62.5%;
  --Moderate-blue: hsl(238, 40%, 52%);
  --Soft-Red: hsl(358, 79%, 66%);
  --Light-grayish-blue: hsl(239, 57%, 85%);
  --Pale-red: hsl(357, 100%, 86%);
  --Dark-blue: hsl(212, 24%, 26%);
  --Grayish-Blue: hsl(211, 10%, 45%);
  --Light-gray: hsl(223, 19%, 93%);
  --Very-light-gray: hsl(228, 33%, 97%);
}
/* end varibales */
/* start global rules */
* {
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container {
  margin: 0 auto;
  padding: 15px;
}
html {
  scroll-behavior: smooth;
}
body {
  transition: 1s all;
  font-family: "Rubik", sans-serif;
  background-color: var(--Light-gray);
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
input,
textarea,
input:focus,
textarea:focus {
  outline: none;
}
/* small*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* large */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* end global rules */
/* start components */
/* start comment */
.comment {
}
.comment .comment-prototype,
.write-prototype {
  border-radius: 5px;
  background-color: var(--Very-light-gray);
  display: flex;
  gap: 1.5rem;
  padding: 1.5rem;
  margin: 1rem 0;
}
.comment .score {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3px;
  background-color: var(--Light-gray);
  font-weight: bold;
  border-radius: 3px;
  gap: 4px;
  font-size: 1.6rem;
  height: fit-content;
  color: var(--Moderate-blue);
  width: 3rem;
}
.score .up,
.score .down {
  cursor: pointer;
  color: var(--Grayish-Blue);
}
.score .up:hover,
.score .down:hover {
  color: var(--Moderate-blue);
}
.score .score-value {
}
.score .clicked {
  color: var(--Moderate-blue);
}
.comment-prototype .text-content {
  width: 100%;
}
.text-content .comment-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.comment-head .info {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
}
.info .profile {
  width: 3rem;
}
.info .date {
  font-weight: 400;
  color: var(--Grayish-Blue);
}
.comment-head .buttons {
  display: flex;
  gap: 2rem;
}
.buttons .btn {
  display: flex;
  align-items: center;
  gap: 2px;
  cursor: pointer;
}
.btn span {
  font-size: 1.4rem;
  font-weight: 500;
}
.reply span,
.edit span {
  color: var(--Moderate-blue);
}
.delete span {
  color: var(--Soft-Red);
}
.your-comment .you {
  padding: 1px 2px;
  color: white;
  background-color: var(--Moderate-blue);
  font-weight: 500;
}
.comment .content {
  margin-top: 1.5rem;
  font-size: 1.2rem;
  line-height: 1.4;
  color: var(--Grayish-Blue);
}
@media (max-width: 375px) {
  .comment .comment-prototype {
    flex-direction: column-reverse;
    position: relative;
  }
  .comment .score {
    flex-direction: row;
    justify-content: center;
    width: 8rem;
    gap: 1.2rem;
  }
  .comment-head .buttons {
    position: absolute;
    bottom: 1.8rem;
    right: 1.5rem;
  }
}
/* end comment */
/* start reply section */
.replys-section {
  display: flex;
}
.replys-section .reply-line {
  position: relative;
  width: 15%;
}
.reply-line::before {
  position: absolute;
  content: "";
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 1px;
  background-color: hsl(211deg 10% 45% / 48%);
}
.replys-section .comment-replys {
  width: 85%;
}
.replyTo {
  position: relative;
  color: var(--Moderate-blue);
  font-weight: 500;
  padding-left: 1rem;
  padding-right: 0.5rem;
}
.replyTo::before {
  position: absolute;
  content: "@";
  transform: translateX(-100%);
}
/* end reply section  */
/* start  write elements */
.write-prototype {
  align-items: self-start;
}
.write-prototype .myPhoto {
  width: 3rem;
  margin-top: 0.5rem;
}
textarea {
  width: 100%;
  height: 8rem;
  font-size: 1.5rem;
  padding: 1.2rem;
  resize: none;
  border-radius: 5px;
  border-color: var(--Moderate-blue);
  margin-top: 0.5rem;
}
.sendBtn {
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 1.4rem;
  color: white;
  background-color: var(--Moderate-blue);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 0.5rem;
  float: right;
}
@media (max-width: 375px) {
  .write-prototype {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  textarea {
    font-size: 1.2rem;
    order: -1;
  }
}
/* end write elements */
/* start confirmation element */
.confirmation {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #eaecf17d;
  display: flex;
  justify-content: center;
  align-items: center;
}
.confirmation .card {
  background-color: white;
  padding: 2rem;
  width: 30rem;
  border-radius: 0.5rem;
}
.confirmation .title {
  font-weight: 500;
  font-size: 1.8rem;
  color: var(--Dark-blue);
}
.confirmation .content {
  margin: 2rem 0;
  line-height: 1.2;
  font-size: 1.4rem;
  color: var(--Grayish-Blue);
}
.confirmation .btn {
  padding: 1rem 2rem;
  font-size: 1.4rem;
  font-weight: 500;
  border: none;
  border-radius: 0.5rem;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
}
.confirmation .no {
  background-color: var(--Grayish-Blue);
}
.confirmation .yes {
  background-color: var(--Soft-Red);
  float: right;
}
/* end confirmation element */
/* end components */
